<div  class="form-heading">
  <h2>Add New Inventory</h2>
  <hr style="margin: 5px auto;">
</div>

<div class="form-group">
  <%= form_with(model: @inventory) do |f| %>
    <div class="field">
      <%= f.text_field :name, placeholder: "Inventory Name", autofocus: true %>
    </div>
    <div class="field">
      <%= f.text_field :description, placeholder: "Please input inventory desc" %>
    </div>
    <div class="actions">
      <%= f.submit "Add Inventory" %>
    </div>
  <% end %>
<div>