<tr>
  <td><%= food.food %></td>
  <td><%= food.measurement_unit %></td>
  <td>$<%= food.unit_price %></td>
  <td>
  <%= button_to "Delete Food", food, method: :delete, class:"btn btn-danger"%>
  </td>
</tr>