<tr>
  <td><%= food.food %></td>
  <td><%= food.measurement_unit %></td>
  <td>$<%= food.unit_price %></td>
  <td>
    <a href="/foods/<%= food.id %>/delete" class="btn btn-danger">Delete</a>
  </td>
</tr>