<div class="foods-btn">
  <%= link_to 'Add Food', new_food_path %>
</div>

<table class="table table-hover table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Measurement Unit</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <%= render 'shared/table', food: food %>
    <% end %>
  </tbody>
</table>