@import 'variables';
@import 'mixins';

.foods-btn {
  @include display(row, space-between, center);

  margin-bottom: 20px;
  font-family: $font-1;

  h2 {
    margin: 0;
    align-self: flex-end;
  }

  a {
    @include button-1;

    justify-self: flex-end;
    width: 13%;
    text-align: center;
    color: $primary-color-1;

    &:hover {
      background: $primary-color-1;
      color: #fff;
    }

    &.btn-floating {
      width: 100%;
      margin-top: 70px;

      &:hover {
        border: solid 2px $primary-color-1; 
      }
    }
  }
}

.btn-danger {
  width: 60%;
  background: #fff;
  border: solid 2px red;
  color: red;
}

.bg-color {
  color: #fff;
  background: $primary-color-1;
}

.no-food {
  font-weight: 600;
  font-family: $font-1;
  margin: 20% auto;
  text-align: center;
}

.show-container {
  border: solid 2px $primary-color-1;
  border-bottom: none;
  font-family: $font-1;
  margin: 30px 0 0;

  > div:first-of-type {
    h2 {
      font-weight: 600;
    }
  }
}

hr.divider {
  height: 0;
  border-top: solid 3px $accent-color-1;
  margin-bottom: 20px
}

table {
  text-align: center
}