@import 'variables';
@import 'mixins';

.form-group {
  form {
    @include display(column, space-between, center);

    margin-top: 40px;

    >div {
      width: 70%;
      font-family: $font-1;

      input {
        width: 100%;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 6px;
        border: solid 2px rgb(230, 228, 228);
        font-family: $font-1;
      }

      textarea {
        width: 100%;
        max-width: 100%;
        height: 200px;
        padding: 15px;
        border-radius: 6px;
        border: solid 2px rgb(230, 228, 228);
        font-family: $font-1;
      }

      input[type='submit'] {
        @include button-1;

        margin-top: 10px;
        width: 25%;
        background: #fff;
        font-family: $font-1;
        font-size: 16px;

        &:hover {
          background: $primary-color-1;
          color: #fff;
        }
      }

      input[type="text"]:focus,
      textarea:focus {
        border: solid 2px $primary-color-1;
        outline: none;
      }

      &.comment-text {
        align-self: flex-start;
      }
    }
  }
}

.comment-form {
  form {
    margin-top: 10px;
  }
}

.form-heading {
  text-align: center;
  font-family: $font-1;

  h2 {
    margin: 0;
  }

  hr {
    width: 35px;
    border: none;
    border-bottom: solid 3px $accent-color-1;
    margin-top: 3px;
  }
}

.error {
  margin: 0;
  color: red;
  font-family: $font-1;
  text-align: left;
}

.field_with_errors > input[type='text'] {
  outline: solid 2px red;
}

.field.check {
  display: flex;
}

.field.check > input {
  width: 3%;
  margin-right: 5px;
}

.extras {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-family: $font-1;

  >a {
    margin-right: 20px;

    &:first-of-type {
      font-weight: bold;
    }

    &:hover {
      text-decoration: underline;
      color: $primary-color-1;
    }
  }
}
